<div class="row">
	<div class="item col-xs-4 col-lg-4" *ngFor="let product of productsList">
		<div class="thumbnail card">
			<span class="fa fa-trash float-right text-danger d-block text-right p-2" routerLinkActive="router-link-active"  (click)="deleteProduct(product.id)"></span>
			<div class="img-event">
				<img class="group list-group-image" src="{{product.itemImage}}" alt="" />
			</div>
			<div class="caption card-body text-center">
				<h4 class="group card-title inner list-group-item-heading">
					{{product.itemName}}</h4>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<p class="lead">{{product.bidAmount | currency: 'INR':true}}</p>
							<p class="text-success text-center">
								Start Time: {{product.startTime}}
								</p>
					</div>
					<div class="col-xs-12 col-md-12">
						<a class="btn btn-primary" routerLink="/product/{{product.id}}">View Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>