.song-details {
    padding: 15px;
    color: #69a3da;

    .image {
        display: inline-block;
        background: #fff;
        height: 100%;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;

        span.fa {
            font-size: 3em;
            color: #5e9ed8;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 5px;
        }
    }
}