.modal-backdrop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 89.8%, .75);
    z-index: 100
}

.modal,
.modal-backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.modal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 25px;
    padding-top: 20vh
}

.edit-form {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px 20px 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.edit-form input {
    margin-bottom: 20px
}

.edit-form .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.edit-form .modal-footer .submit-button {
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px
}

.edit-form .modal-footer .submit-button:focus,
.edit-form .modal-footer .submit-button:hover {
    background-color: rgba(0, 0, 0, .08)
}

.edit-form .modal-footer .delete-button {
    width: 35px;
    padding: 8px;
    margin-left: -8px;
    opacity: .5
}

.edit-form .modal-footer .delete-button:focus,
.edit-form .modal-footer .delete-button:hover {
    opacity: 1
}

.modal-enter,
.modal-leave-active {
    opacity: 0
}

.modal-enter form,
.modal-leave-to form {
    -webkit-transform: scale(.75);
    transform: scale(.75)
}

.modal-enter-active,
.modal-leave-active {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}