body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px 10px;
  font-size: 20px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex-grow: 3;
}

button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #eee;
  height: 45px;
}
