.board {
  display: table;
  margin: 0 auto;
  border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  padding: 5px;
  height: 80px;
  width: 80px;
  display: flex;
  place-items: center;
  place-content: center;
}

.mushroom {
  background: url("../assets/mush.png") center no-repeat;
  background-size: 50% 50%;
}

.mario {
  background: #bbb;
}

.steps {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
