body{
	box-sizing: border-box;
}

.game{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

table>tr>td{
	padding: 5px 10px;
	color: #f5f5f5;
}

.mushroom{
	background: url(mush.png) center center no-repeat;
	background-size: contain;
}