.login-container {
    span {
        color: #fff;
        font-weight: 300;
        font-size: 30px;
        background: #666;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        margin-right: 5px;
    }
}